* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* class utilityes */

[class*="flex-container"] {
    display: flex;
}

/* ..................................................... */

/*  h1 (indicizzato ma non visibile */
header h1 {
    display: inline-block;
    text-indent: -9999999999px;
}

/* header */

header {
    width: 100%;
}

.header_flex-container {
    width: 100%;
    justify-content: space-between;
    background-color: #14a3a8;
    border-bottom: 4px solid rgb(30 76 81);
    padding: 0.5rem 1rem 0rem 0.5rem
}

.header_flex-container>* {
    flex-grow: 1;
    flex-shrink: 2;
}

/* logo */
header .logo img {
    max-width: 24rem;
    /* ............................non so */
}

/* tasto cerca */
header .search {
    align-self: center;
    flex-grow: 5;
    flex-shrink: 1;
    text-align: center;
}

input[type=search] {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

header [type=search] {
    width: 90%;
    padding: 0.3rem 0.5rem;
    border: 2px solid rgb(15 113 123);
    border-radius: 0.5rem;
    color: #2a3131;
    font-weight: bold;
}

header [type=search]:focus {
    background-color: rgb(245, 245, 169);
}

/* utilities button */

header .utilities {
    text-align: right;
    padding-top: 0.4rem;
}

header .utilities a {
    padding-right: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 3px outset rgb(69 169 179);
    border-radius: 50%;
    padding: 0.5rem 0.4rem;
    margin-right: 0.5rem;
    background-color: #119ba0;
}

#login {
    padding: 0.5rem 0.5rem;
}

/* aggiunta vetrina */
/* il problema delle altezze (rapporti) */
.main_header-vetrina_flex-container {
    flex-direction: column;
}

.main_header-vetrina_flex-container>.header_flex-container {
    /* ci vorrebbe una proporzione tra l'header e la vetrina ma fallisco */
}

.main_header-vetrina_flex-container>.vetrina {
    background-image: url(../img/vetrina2.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    min-height: 450px;
    max-height: 600px;
    border-bottom: 6px solid rgb(30 76 81);
}

.vetrina img {
    width: 100%;
    max-height: 500px;
}

/* bottone boynow */
.buynow_flex-container {
    justify-content: center;
}


.vetrina #buynow {
    display: block;
    text-align: center;
    line-height: 3.4rem;
    text-decoration: none;
    color: white;
    font-family: fantasy;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    font-size: 2rem;
    text-shadow: 0px 3px #144444;
    background-color: #119ba0;
    border: 5px outset rgb(85 192 203);
    border-radius: 2rem;
    margin-top: 310px;
    width: 200px;
    height: 60px;
}

/* effetti pulsanti */

header .utilities a:hover,
.vetrina #buynow:hover {
    background-color: #21a7ac;
    border-style: outset;
    border-color: rgb(69 169 179);
}

header .utilities a:active,
.vetrina #buynow:active {
    background-color: #1f8e92;
    border-style: inset;
    border-color: rgb(69 169 179);
}


/* MAIN .............................................. */


/* contenitore di navbar + section + aside */
.main_flex-container {
    flex-direction: row;
}
/* navbar contenitore tendine */
.nav_flex-container {
    flex-direction: column;
    background-color: #6aacaf6b;
    border-top-right-radius: 1.6rem;    
    position: relative;
    top: -5px;
}

/* tendina( input + label>ul) */
.categories_item_flex-container{
    flex-direction: row-reverse;
    border:5px double rgb(0, 0, 0);
    border-bottom: 0;
    padding-bottom:2.5rem;
    border-top-right-radius: 1.6rem;
    background-image: url(../img/lightblack.jpg);
    background-repeat: repeat-x;
    background-size: 100% 4.5rem;
    padding-left: 1.2rem;
    margin-bottom: -2.8rem;
    margin-left: -1rem;
    justify-content: space-between;
    
    }

 .categories_item_flex-container:nth-child(2n){
    background-image: url(../img/lightblack2.jpg);
 }
 /* dinamica estrazione tendina */
 .categories_item_flex-container:hover{
position: relative;
top: -1rem;
}

/* footer navbar - fix estrazione ultima tendina */
.nav_flex-container::after{
    content: "";
    border:5px double rgb(0, 0, 0);
    border-top: 0;
    padding-bottom:3rem;
}

/* stile title tendina */
nav #label-plus h2 {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 0px black;
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1.6rem; 
    vertical-align: middle;
}

/* stile checkbox tendina  */
nav #plus{
align-self: flex-start;
margin: 1.4rem;
visibility:hidden;
}

nav #plus:checked{
visibility:hidden;
}

/* plusante tendina */
nav #plus::before{
    content: url(../img/plus.png);
     visibility: visible;
}
nav #plus:checked::before{
    content: url(../img/minus.png);
    visibility: visible; 
}


/* meccanismo tendina attraverso checkbox ...... */
.categories_item_flex-container>input[type=checkbox] + label{
    padding: 0.6rem 1rem;
    font-family: sans-serif;
    height: 4rem;
    overflow: hidden;
}
.categories_item_flex-container>input[type=checkbox]:checked + label{
    height: fit-content;    
}

/* stile lite */
.categories-list{
 padding-top: 0.6rem;

}
.categories-list li{
    font-size: 1.2rem;
    line-height: 1.8rem;
    list-style-type: none;
}
.categories-list label{
    margin-left: 0.8rem;
    text-transform: capitalize;
}

/* stile checkbox li */
.categories-list input[type=checkbox] {
    visibility:hidden;
}
.categories-list input[type=checkbox]:checked{
visibility:hidden;
}

.categories-list input[type=checkbox]::before{
    content: url(../img/checkbox-list0.png);
    visibility: visible;
}
.categories-list input[type=checkbox]:checked::before{
    content: url(../img/checkbox-list1.png);
    visibility: visible;  
}

.icon_categories-item{
    font-size: 2rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
}

#novità .icon_categories-item{
    margin-right:0.6rem;
}

#gadjets .icon_categories-item{
   margin-right: 1.6rem;
}
/* ................................................................ */