* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* class utilityes */

[class*="flex-container"] {
    display: flex;
}

/* ..................................................... */

/*  h1 (indicizzato ma non visibile */
header h1 {
    display: inline-block;
    text-indent: -9999999999px;
}

/* header */

header {
    width: 100%;
}

.header_flex-container {
    width: 100%;
    justify-content: space-between;
    background-color: #14a3a8;
    border-bottom: 2px solid rgb(30 76 81);
    padding: 0.5rem 1rem 0rem 0.5rem
}

.header_flex-container>* {
    flex-grow: 1;
    flex-shrink: 2;
}

/* logo */
header .logo img {
    max-width: 24rem;    /* ............................non so */
}
/* tasto cerca */
header .search {
    align-self: center;
    flex-grow: 5;
    flex-shrink: 1;
    text-align: center;
}

input[type=search] {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

header [type=search] {
    width: 90%;
    padding: 0.3rem 0.5rem;
    border: 2px solid rgb(15 113 123);
    border-radius: 0.5rem;
    color: #2a3131;
    font-weight: bold;
}

header [type=search]:focus {
    background-color: rgb(245, 245, 169);
}

/* utilities button */

header .utilities {
    text-align: right;
    padding-top: 0.4rem;
}

header .utilities a {
    padding-right: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 3px outset rgb(69 169 179);
    border-radius: 50%;
    padding: 0.5rem 0.4rem;
    margin-right: 0.5rem;
    background-color:#119ba0;
}

#login{
    padding: 0.5rem 0.5rem;
}

/* aggiunta vetrina */
/* il problema delle altezze (rapporti) */
.main_header-vetrina_flex-container{
    flex-direction: column;
}
.main_header-vetrina_flex-container>.header_flex-container {


}
.main_header-vetrina_flex-container>.vetrina{
    background-image: url(../img/vetrina2.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    min-height: 450px;
    max-height: 600px;

}
.vetrina>#buynow{
    background-image:url(../img/buynow.png);
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
   width: 100%;
   margin-top:310px;
   height: 60px;

 

}

.vetrina img{
    width: 100%;
    max-height: 500px;
}



